@{
    ViewData["Title"] = "Credit Wallet";
}
@using WalletAdmin.Models.Enums
@{
    Currency currency = (Currency)ViewBag.Currency;

    string currencySymbol = currency switch
    {
        Currency.NGN => "₦",
        Currency.USD => "$",
        Currency.EUR => "€",
        Currency.GBP => "£",
        _ => currency.ToString() //default case
    };
}


<div class="credit-container">
    <div class="glass-form-card">
        <h1 class="form-title">Credit Wallet</h1>
        <p class="form-subtitle">
            <strong>@ViewBag.Currency</strong> – 
            <span class="customer-info">Customer: @ViewBag.CustomerEmail</span>
        </p>
        <p class="balance-info">
            Current Balance:
            <strong>
                @currencySymbol@(((decimal)ViewBag.Balance).ToString("N2"))
            </strong>
        </p>


        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger mb-4">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }

        <form asp-action="Credit" method="post">
            <input type="hidden" name="walletId" value="@ViewBag.WalletId" />

            <div class="form-floating mb-4">
                <input name="amount" class="form-control" type="number" step="0.01" required placeholder="0.00" />
                <label>Amount</label>
            </div>

            <div class="form-floating mb-4">
                <input name="description" class="form-control" placeholder="optional" />
                <label>Description</label>
            </div>

            <div class="action-buttons mt-4">
                <button type="submit" class="btn-submmit">
                    Credit Wallet
                </button>

                <a asp-action="ByWallet"
                   asp-route-walletId="@ViewBag.WalletId"
                   class="btn-cancel ms-3">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link rel="stylesheet"
          href="~/css/CrDr.css"
          asp-append-version="true" />
}